<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Table Tennis</h5>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary">View Activity</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Yoga</h5>
        <p class="card-text"></p>
        <a routerLink="/activities/1" href="#" class="btn btn-primary">View Activity</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Dance Class</h5>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary">View Activity</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Meditation</h5>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary">View Activity</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Swimming</h5>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary">View Activity</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Cooking Classes</h5>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary">View Activity</a>
      </div>
    </div>
  </div>
</div>
