<div class="row  " >
  <ul class="nav">
    <li class="nav-item"  >
      <a class="nav-link" routerLink="/menu" >Home</a>
    </li>
  <li class="nav-item"  >
    <a class="nav-link " routerLink="/logout" >Logout</a>
  </li>
</ul>
</div>

<div class="card">
  <div class="card-header">
    Ongoing Activities
  </div>
  <div class="card-body">
    <h5 class="card-title">Ongoing activities</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a routerLink="/activities" class="btn btn-primary">View Activities</a>
  </div>
</div>
<div class="mx-auto" style="width: 200px;">

</div>
<div class="card">
  <div class="card-header">
    Events
  </div>
  <div class="card-body">
    <h5 class="card-title">Events</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Request for Event</a>
  </div>
</div>
