
<table class ="table">
  <tr>
  <th>Activity name</th>
  <th>Venue name</th>
    <th>Day of week</th>
    <th>Start time</th>
    <th>End time</th>
</tr>
<tr *ngFor="let activity of detailedActivities">
      <th>{{activity.activitiy_name}}</th>
      <th>{{activity.venue_name}}</th>
      <th>{{activity.day_of_week}}</th>
      <th>{{activity.start_at}}</th>
      <th>{{activity.end_at}}</th>
      <th><button type="submit" name="button"
        class="btn btn-success">Register</button></th>
    </tr>
</table>
